@use "@/app/globalStyles.scss";

.nav-link {
    @extend .link
}

#userName {
    padding-left: 1em;
    font-family: "Iceberg";
    text-transform: uppercase;
}

#icons > .nav-link {
    padding: 0 0.2em;
}

@media screen and (min-width: 768px) {
    #navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 2em;
    }
    
    #entries > .nav-link {
        padding: 0 1em;
    }
}

@media screen and (max-width: 768px) {
    #icons {
        display: flex;
        flex-direction: row;
    }
}

#profileDropdown {
    --bs-dropdown-min-width: 0;
    --bs-dropdown-bg: transparent;
    --bs-dropdown-color: #FFF;
    --bs-dropdown-link-color: #FFF;
    --bs-dropdown-border-color: rgba(255, 255, 255, 0.5);
    --bs-dropdown-divider-bg: #FFF;
    --bs-dropdown-link-hover-color: #FFF;
    --bs-dropdown-link-hover-bg: rgba(255, 255, 255, 0.2);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.3);
    --bs-dropdown-link-disabled-color: #adb5bd;
}

#profileDropdown > .dropdown-item {
    @extend .nav-link
}