@use "@/app/globalStyles.scss";

.scrollPage {
    margin-bottom: 2rem;
    margin-top: 2rem
}

.poster {
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
}

.headerLine {
    @extend .line;
    position: relative;
    top: -4em;
    margin-bottom: -2em;
}

.schoolIcon {
    height: 5em;
    width: auto;
}

.header {
    font-size: 5em;
    width: auto;
}

.review {
    @extend .line;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}