.overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent black overlay */
    z-index: 2; /* Ensure the overlay is above other content */
}

.popup-visible {
    z-index: 1;
    display: flex;
}

.popup-hidden {
    z-index: -1;
    display: none; 
}

.bug-report-form {
    z-index: 4; 
    border: black solid; 
    padding: 10px; 
    border-radius: 10px; 
    background: linear-gradient(180deg, #3876D2 0%, #10428B 100%);
}

.report-form-title, .report-form-title:focus {
    border: none; 
    border-radius: 20px; 
    background-color: white;
    margin-bottom: 10px;
    color: black; 
}

.report-form-description, .report-form-description:focus {
    @extend .report-form-title
}