.line > p {
    margin: 0;
    display: block;
}

.primary-line {
    height: 1.8em;
    // margin-bottom: 1em;
}

.line > img {
    margin: 0 0.5em;
}

.primary-line > img {
    height:80%;
}

.secondary-line {
    height: 1.5em;
    margin-left: 3em;
}

.secondary-line > img {
    height: 100%;
}

.contact-info {
    margin: 1em 0;
}