#go {
    --bs-btn-bg: #00F0FF;
    --bs-btn-color: #000;
    --bs-btn-border-color: #00f0ff;
    --bs-btn-hover-bg: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#go > p {
    display: inline-block;
    text-transform: uppercase;
    font-family: Roboto;
    letter-spacing: 0.1em;
    margin: 0;
}

#go > img {
    height: 1rem;
    margin-left: 0.5rem;
}

#go > img > svg:hover {
    fill: #fff;
}

#slideButtons {
    position: absolute;
    bottom: 5em;
    height: 2em;
}

#slideButtons > a > img.active {
    height: 80%;
}

#slideButtons > a > img {
    height: 50%;
    margin: 0 0.3em;
}