#slide {
    flex-grow: 1;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: right 0% bottom 0%;
}