.results {
    border: 4px solid #fff;
    padding: 1em;
    font-size: smaller;
    margin: 0em 2em;
}

.bigLiHolder {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: block;
}

.pageEndButton {
    margin-top: auto;
    margin-bottom: 2em;
}