form {
    width: 100%;
    max-width: 30rem;
}

form > button {
    justify-content: center;
    margin: auto;
}

.form-control {
    color: #FFF;
    background-color: transparent;
    border: none;
    border-bottom: 2px #FFF solid;
    border-radius: 0%;
    font-family: Roboto;
    font-size: 1.2rem;
    letter-spacing: .1em;
    box-shadow: none;
}

.form-control:focus {
    @extend .form-control
}

.form-check-input {
    margin-right: 5px;
    background-color: transparent;
    border-color: #FFF;
}

.form-check-input:checked {
    background-color: transparent;
    border-color: #FFF;
}

.form-check-label {
    text-transform: uppercase;
    font-family: montserrat;
    font-size: 0.9em;
    display: inline;
}