.link {
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}

.slogan {
    font-weight: 600;
    font-style: italic;
}

.heading {
    font-size: 2.5em;
    font-weight: 600;
    font-style: italic;
}
.subheading {
    font-size: 1.5em;
    font-style: italic;
}

.text {
    font-family: Roboto;
    font-weight: 400;
}

.paragraph {
    text-transform: uppercase;
    font-family: montserrat;
    letter-spacing: 0.1em;
    line-height: 1.8em;
}

.note {
    font-style: italic;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 576px) {
    .heading {
        font-size: 1.2em;
    }
    .text {
        font-size: 0.9em;
    }
    .paragraph {
        font-size: 0.8em;
    }
}

.fit {
    flex-grow: 1;
    display: flex;
    background-image: url("../assets/ursearch-background.png");
    background-position: 50% 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.space-holder {
    flex-grow: 1;
}

.stand-out {
    font-size: 1.2em !important;
    margin: 0.5em 0 !important;
}

.secondary-text {
    color: rgba(255, 255, 255, 0.5)
}