#description-container {
    margin: 4em 0em;
    display: flex;
    align-items: center;
}

#description-container * {
    margin: 0 0.5em 0;
}

#submission-container {
    margin: auto;
    width: 50%;

    div {
        margin-bottom: 2em;
        width: 100%;

        button {
            width: 100%;
            max-width: 1000%;
        }
    }
}

#title-container {
    border-bottom: 2px solid white;
    margin-bottom: 1em;

    p {
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 0 0 0 0.5em;
    }
}

#ownworklabel {
    font-size: 1rem;
}