.uw-logo {
    position: relative;
    border-radius: 50%;
    border: 0.15rem solid #FFF;
    z-index: 100;
}

.job-container {
    border: 4px solid #FFF;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 1.02343px 1.02343px 8.18742px 0px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 1rem 2rem;
    color: #000;
    font-family: Cabin;
}

.job-button {
    color: #000;
    border-color: #000;
}

h4 {
    font-family: Bebas Neue;
    letter-spacing: 1.5px;
}