.bebas_font {
    font-family: Bebas Neue;
    font-style: normal;
    letter-spacing: 0.05em;
}

.grid {
    margin-top: -1em;
    display: flex;
    flex-direction: column;

    div {
        margin-top: 2em;
        display: grid;
        grid-template-columns: 2fr 2fr 0.75fr;
        column-gap: 1em;

        h3 {
            @extend .bebas_font;
            padding-left: 0.5em;
            max-width: 90%;
            font-size: 1.5em;
            position: relative;

            // Create the borders
            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 1.5em;
                height: 1px;
                width: 90%;
                border-bottom: 0.15em solid rgba(255, 255, 255, 0.8);
            }          
        }
    }
}

#long {
    grid-template-columns: 4fr 0.75fr;

    h3 {
        &:before {
            width: 101%;
        }
    }
}

.checkbox_container {
    margin-top: -1em !important;
}

.checkbox {
    @extend .bebas_font;
    display: flex !important;
    align-items: center;
    padding-left: 0.85em;
    
    label {
        margin: auto;
        width: 100%;
        font-family: Cabin;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.85em;
        letter-spacing: 0.2em;
    }
    input {
        appearance: none;
        height: 1em;
        width: 1em;
        border: 2px solid #fff;
        border-radius: 0;
        color: #000;
        cursor: pointer;

        &:checked {
            background-color: #fff;
        }
    }
}

.btn {
    font-size: 1em;
    margin-left: -1em;
    width: 115%;
}

.post_btn {
    font-size: 1.5em;
}

#footer {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: -1em;
}

#footer h1 {
    font-size: 8em;
    margin-right: 0.1em;
}

#footer h3 {
    font-weight: bold;
    font-style: italic;
}