#content_container {
    border: 4px solid #fff;
    padding: 2em;
    min-height: 75vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

#title {
    margin: 0 0 0.5em;
    font-size: 2em;
    font-style: italic;
}

#button_container {
    margin-top: auto;
}

.pageEndButton {
    margin-top: auto;
    margin-bottom: 2em;
}

#footer {
    display: flex;
    align-items: center;
    margin-top: -1em;
}

#footer h1 {
    font-size: 8em;
    margin-right: 0.1em;
}

#footer h3 {
    font-weight: bold;
    font-style: italic;
}