.link {
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
}

.slogan {
    font-weight: 600;
    font-style: italic;
}

.text {
    font-size: 1.2em;
    font-weight: 400;
}

.paragraph {
    text-transform: uppercase;
}

.fit {
    flex-grow: 1;
    display: flex;
}