.sparse-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sparse-content:nth-child(1) {
    padding-top: 2rem;
}

.sparse-content > * {
    margin: 2rem 0;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5em 0;
}